:root{
    --backgrouondColorFooter: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
    --backgroundButtonSubmitted: #71B100;
}
html[data-theme="light"] {
    --textColorPrimary: #000;
    --textColorSecondary: #fff;
    --backgroundColorPrimary: #F8F8F8;
    --backgroundColorSecondary: #FFF;
    --colorIcon: #fff;
    --colorIconTheme: #000;
    --backgroundButtonSubmitted: #71B100;
    --backgroundNewCar: #17EA29;
    --backgroundUsedCar: #218380;
    --backgroundArrow: rgba(255, 255, 255, 0.5);
    --colorArrow: #6e8387;
}
html[data-theme="dark"] {
    --textColorPrimary: #CDD9E5;
    --textColorSecondary: #fff;
    --backgroundColorPrimary: #1C2128;
    --backgroundColorSecondary: #2D333B;
    --colorIcon: #9DA7B2;
    --colorIconTheme: #9DA7B2;
    --backgroundButtonSubmitted: #71B100;
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: var(--backgroundColorPrimary);
}
i{
    font-size: 2.5rem;
}
a, h1, h2, span{
    color: var(--textColorPrimary);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    color: var(--textColorSecondary);
    margin: 0 3rem;
}
.section{
    max-width: 140rem;
    margin: 0 auto;
}
.section-margin {
    margin: 5rem 0;
}
.btn{
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    /* margin-bottom: 3rem; */
    display: inline-block;
    text-align: center;
    border: none;
    color: #fff;
}
.btn:hover {
    cursor: pointer;
}
.btn-submit{
    background-color: var(--backgroundButtonSubmitted);
}
.badge{
    border-radius: 1rem;
    padding: .8rem .5rem;
}
.new{
    background-color: var(--backgroundNewCar);
}
.used{
    background-color: var(--backgroundUsedCar);
}
.container-navbar{
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: var(--backgroundColorSecondary);
    margin-bottom: 5rem;
}
.container-banner{
    background-image: url(https://i.imgur.com/4Y7uqMn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
}
.container-sale{
    display: grid;
    /* grid-auto-flow: dense; */
    /* grid-auto-rows: 40rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 40rem), 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, minmax(20rem, 1fr));
    gap: 2rem;
    height: 100%;
}
.container-sale h2{
    margin: 0;
}
.card{
    height: 25rem;
}
.card img{
    width: 100%;
    height: 100%;
}
.container-footer{
    background: var(--backgrouondColorFooter);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    height: 9rem;
}
.container-footer i{
    color: var(--colorIcon);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* THEME */
.theme-toggle {
    position: fixed;
    right: 2rem;
}
#theme-toggle-btn {
    display: none;
}
.theme-toggle label {
    cursor: pointer;
    color: var(--clr-secondary);
}
.toggle-icon{
    color: var(--colorIconTheme);
}
/*Login*/
.bodylogin{
    margin: 0;
    padding: 0;
}
/* .container-log{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    position: relative;
} */
/* .container-image{
    background-image: url(../imageProfile/wave.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50%;
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
} */
/* .container-image img{
    height: 80%;
} */
.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
legend {
    font-size: 2.8rem;
    color: #333;
}
label {
    display: block;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
}
input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
    outline: none;
}
.btn-new-user{
    color: blue;
    font-size: 1.8rem;
    border-bottom: blue 1px solid;
    font-weight: 700;
}
/*main*/
.container-crud{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    border: 1px solid black;
}
.crud-selection{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.image-profile{
    width: 400px;
    height: 400px;
}
.image-profile img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.container-profile{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid black;
}
/* Car corousel*/
.container-carousel{
    width: 40vw;
    height: 50vh;
    margin: 5rem auto;
    position: relative;
}
.container-carousel img{
    width: 100%;
    height: 100%;
    display: none;
}
.arrow{
    margin-top: 10px;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--backgroundArrow);
    color: var(--colorArrow);
}
.arrow-left{
    top: 50%;
    left: 2%;
}
.arrow-right{
    top: 50%;
    right: 2%;
}
/*Modificar vehiculo*/
.card-description{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    text-align: right;
    padding: .8rem;
}
.crud-option{
    display: flex;
    justify-content: flex-end;
}
.crud-option span a i{
    margin-left: 1rem;
}